.first{
    display:flex;
    flex-wrap: wrap;
}
.inner{
    flex:1;
    width:280px;
    height:50px;
    color:white;
    /* background:rgb(134, 141, 141); */
    text-align:center;
    box-sizing: border-box;
    padding: 20px 0;
    font-size:20px;
}
.inner:hover{
    color:orange;
}
.link1{
    z-index:2;
}
.nav:hover{
    color:orange;
}
.nav{
    position:fixed;
    color:white;
    margin-left:1330px;
    margin-top:680px;
    z-index:2;
}
a{
    text-decoration: none;

}
*{
    margin:0;
    padding:0;
}
.first{
    width:100vw;
    height:100vh;
    background:url("./Images/laptop.jpg");
    background-size:cover;
}
.laptop{
    width:500px;
    height:500
}
.link1:visited:hover{
    color:orange;
}
.link1:link,.link1:visited{
    color:white;
}
#img1{
    width:350px;
    height:300px;
    margin-left:100px;
    margin-top:50px;
    border-radius:60%;
    flex:0.5;
}
.second{
    font-family: 'Oswald', sans-serif;
    position:relative;
    background:rgb(63, 62, 62);
    color:white;
    height:700px;
    width:100vw;
}
.detail{
    display:flex;
    flex-wrap: wrap;
}
#name{
    flex:1;
    display:flex;
}
.de{
    margin:auto;
}
.par{
    font-size:30px;
}
.fa-instagram{
    font-size:65px;
    position:absolute;
    top:85%;
    right:5%;
    transition:all 450ms;
}
.fa-facebook-square{
    font-size:65px;
    position:absolute;
    top:85%;
    right:12%;
    transition:all 500ms;
}
.fa-instagram:hover,.fa-facebook-square:hover{
transform:translateY(-20px);
}
.insta:link,.fb:link{
    color:white;
}
.fb:visited,.insta:visited{
    color:white;
}
.third{
    width:100vw;
    height:700px;
    background:rgb(63, 62, 62);
    list-style-position: inside;
    list-style-type:square;
    color:white;
    font-family:'Oswald', sans-serif;
}
ul{
    color:white;
    list-style-type:square;
    font-size:30px;
}
.four{
    width:100vw;
    height:700px;
    background:rgb(63,62,62);
    list-style-position:inside;
    list-style-type:square;
    color:white;
    font-family: 'Oswald', sans-serif;
}
.five{
    width:100vw;
    height:700px;
    background:rgb(63,62,62);
    list-style-position:inside;
    list-style-type:square;
    color:white;
    font-family: 'Oswald', sans-serif;
}
#hob,#edu,#about,#lan{
    color:orange;
}